.form-wrapper {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.form {
    background-color: #2c2c2c;
    border-radius: 34px;
    width: 480px;
    height: max-content;
    margin: 0;
    font-size: 48px;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(0px) !important;
}

.form-btn-wrapper {
    width: 100%;
    height: max-content;
    display: table
}

.form-btn:hover {
    color: var(--topButtonBarHoverColor);
    transition: color .3s;
}

.form-btn {
    color: var(--buttonColor);
    background-color: transparent;
    margin-right: 8%;
    border: none;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    display: table-cell;
    vertical-align: middle;
    transition: color .3s;
    cursor: pointer;
}

.form-p-wrapper {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.form-p {
    color: #8b8b8b;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto Mono";
    font-size: 18px;
    margin-top: 12px;
}
 
.form-label-wrapper {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.form-label {
    color: #8b8b8b;
    font-family: "Roboto Mono";
    font-size: 18px;
    margin-left: 5%;
}

input[type=text], input[type=email], textarea {
    width: 90%;
    margin: 0;
    border: none;
    border-radius: 6px;
    padding: 6px 14px;
    font-family: "Roboto Mono";
    display: inline-block;
    box-sizing: border-box;
}

textarea {
    height: 80px;
    resize: none;
}
  
input[type=submit] {
    width: 18%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}