#settings-nav-column {
    display: inline-block;
    font-family: "Roboto Mono";
    background-color: var(--settingsNavBackgroundColor);
    margin: 1.75% 1% 1.75% 1.5%;
    width: 18%;
    height: 96.5%;
    border-radius: 22px;
    vertical-align: top;
    transition: background-color .3s;
}

#affix-selector {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.settings-nav-btn:hover {
    color: var(--settingsNavBackgroundColor);
    background-color: var(--settingsNavColor);
    transition: background-color .3s;
}

.settings-nav-btn {
    color: var(--settingsNavColor);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Roboto Mono";
    width: 100%;
    height: 5%;
    transition: background-color .3s;
    cursor: pointer;
    outline: none;
}

#settings-content {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    font-family: "Roboto Mono";
    margin: 1.75% 1.5% 1.75% 1%;
    border-radius: 22px;
    width: 77%;
    height: 96.5%;
}

#theme-set {
    position: relative;
    margin-top: 22px;   
}

.theme-btn:hover {
    transform: scale(1.1);
    transition: .15s;
}

.theme-btn {
    font-family: "Roboto Mono";
    border: none;
    border-radius: 8px;
    margin: 0 4px;
    margin-bottom: 8px;
    width: 22.35%;
    height: 38.227px;
    cursor: pointer;
    transition: .15s;
}

#xanadu {
    color: #344634;
    background-color: #758173;
}

#harvest-gold {
    color: #815c10;
    background-color: #d79233;
}

#antique-brass {
    color: #66674e;
    background-color: #ce826f;
}

#oxford-blue {
    color: #9496a8;
    background-color: #04052e;
}

#brunswick-green {
    color: #b9acc0;
    background-color: #28524a;
}

#french-violet {
    color: #c6e28d;
    background-color: #732fc6;
}

#claret {
    color: #bfada3;
    background-color: #841f44;
}

#sage {
    color: #0e8382;
    background-color: #b3af8f;
}