#settings-nav-column {
    display: inline-block;
    font-family: "Roboto Mono";
    background-color: var(--buttonColor);
    margin: .75%;
    width: 18%;
    height: 98%;
    border-radius: 22px;
    vertical-align: top;
    transition: background-color .3s;
}

#affix-selector {
    margin-top: 22px;
}

.settings-nav-btn:hover {
    color: var(--buttonColor);
    background-color: var(--buttonTextColor);
    transition: background-color .3s;
}

.settings-nav-btn {
    color: var(--buttonTextColor);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Roboto Mono";
    width: 100%;
    height: 5%;
    transition: background-color .3s;
    cursor: pointer;
    outline: none;
}

#settings-content {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    font-family: "Roboto Mono";
    margin: .75%;
    border-radius: 22px;
    width: 79%;
    height: 98%;
}

#theme-set {
    position: relative;
    margin-top: 22px;   
}

.theme-btn:hover {
    transform: scale(1.1);
    transition: .15s;
}

.theme-btn {
    font-family: "Roboto Mono";
    border: none;
    border-radius: 8px;
    margin: 0 4px;
    margin-bottom: 8px;
    width: 22.35%;
    height: 38.227px;
    cursor: pointer;
    transition: .15s;
}

#manatee {
    color: #5d5e6f;
    background-color: #9c9c9e;
}

#antique-brass {
    color: #777868;
    background-color: #ce826f;
}

#comet {
    color: #a374e2;
    background-color: #636583;
}

#gulf-stream {
    color: #5967c3;
    background-color: #78b2ae;
}