#settings-nav-column {
    display: inline-block;
    font-family: "Roboto Mono";
    background-color: var(--buttonColor);
    margin: .75%;
    width: 18%;
    height: 98%;
    border-radius: 22px;
    vertical-align: top;
}

#affix-selector {
    margin-top: 22px;
}

.settings-nav-btn:hover {
    color: var(--buttonColor);
    background-color: var(--buttonTextColor);
    transition: background-color .3s;
}

.settings-nav-btn {
    color: var(--buttonTextColor);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Roboto Mono";
    width: 100%;
    height: 5%;
    transition: background-color .3s;
    cursor: pointer;
    outline: none;
}

#settings-content {
    color: salmon;
    display: inline-block;
    font-family: "Roboto Mono";
    /* background-color: rgb(0, 0, 66); */
    background-color: var(--backgroundColor);
    margin: .75%;
    border-radius: 22px;
    width: 79%;
    height: 98%;
}

#theme-set {
    position: relative;
    margin-top: 22px;   
}

#fleuriste {
    color: #405a52;
    background-color: #c6b294;
    margin-left: 0;
}

#fledgling {
    color: #fc6e83;
    background-color: #3b363f;
}

#passionfruit {
    color: #c5a100;
    background-color: #7c2142;
}

#hedge {
    color: #6a994e;
    background-color: #386641;
    margin-right: 0;
}

.theme-btn:hover {
    transform: scale(1.1);
    transition: .15s;
}

.theme-btn {
    background-color: red;
    font-family: "Roboto Mono";
    border: none;
    border-radius: 8px;
    margin: 0 4px;
    margin-bottom: 8px;
    width: 22.35%;
    height: 38.227px;
    cursor: pointer;
    transition: .15s;
}