#header-do {
    color: var(--welcomeColor3);
}

#header-u, #header-sudoku {
    color: var(--welcomeColor2);
}

#welcome-header {
    color: var(--welcomeColor1);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: max-content;
    font-family: "Roboto Mono";
    font-size: 54px;
    font-weight: 300;
    display: inline-block;
    text-align: left;
}

#header-line-1 {
    margin: 0;
}

#header-line-2 {
    margin: 0;
}

.subheader {
    color: var(--welcomeColor3);
    margin: 0;
    font-size: 18px;
}

#p1, #p2 {
    margin: 1% 0 3% 0;
}

#p3 {
    margin-top: 3%;
}

#icon-bar {
    font-size: 64px;
    text-align: center;
}

.fa-brands, .fa-solid {
    margin: 0 1.5%;
}

#welcome-content {
    color: var(--welcomeColor2);
    width: 90%;
    margin-left: 4%;
    margin: 0 auto;
    font-family: "Roboto Mono";
    font-size: 18px;
    text-align: left;
}