#welcome-content {
    display: inline-block;
    text-align: center;
}

#header-do {
    color: var(--welcomeColor3);
}

#header-u, #header-sudoku {
    color: var(--welcomeColor2);
}

#welcome-header-wrapper {
    width: 100%;
    margin-top: 0;
    display: inline-block;
    text-align: center;
}

#welcome-header {
    color: var(--welcomeColor1);
    position: relative;
    margin-bottom: 50px;
    width: max-content;
    font-family: "Roboto Mono";
    font-size: 54px;
    font-weight: 300;
    display: inline-block;
    text-align: left;
}

#header-line-1 {
    margin: 0;
}

#header-line-2 {
    margin: 0;
}

.welcome-subheader {
    color: var(--welcomeColor3);
    margin: 0;
    font-size: 18px;
}

#p1, #p2 {
    margin: 1% 0 3% 0;
}

#p3 {
    margin-top: 3%;
}

#icon-bar {
    font-size: 64px;
    text-align: center;
}

.fa-brands, .fa-solid {
    margin: 0 1.5%;
}

#welcome-content {
    color: var(--welcomeColor2);
    width: 90%;
    margin-left: 4%;
    margin: 0 auto;
    font-family: "Roboto Mono";
    font-size: 18px;
    text-align: left;
}

@media (min-width: 702px) {
    #welcome-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 485px) {
    #welcome-header-wrapper {
        width: 100vw;
        text-align: left;
    }

    #welcome-header {
        width: 100vw;
    }
}