#header-do {
    color: var(--navbarAccentColor);
}

#header-u, #header-sudoku {
    color: var(--boardColor);
}

#welcome-header {
    color: #cad1cb;
    margin-top: 50px;
    margin-bottom: 50px;
    width: max-content;
    font-family: "Roboto Mono";
    font-size: 54px;
    font-weight: 300;
    display: inline-block;
    text-align: left;
}

#header-line-1 {
    margin: 0;
}

#header-line-2 {
    margin: 0;
}

#p1 {
    color: var(--boardColor);
    width: 90%;
    margin-left: 4%;
    font-family: "Roboto Mono";
    font-size: 20px;
    text-align: left;
}