.board {
    width: 100%;
    display: inline-block;
}

.board-row-0 {
    border-top: 5px solid var(--boardColor) !important;
}

.board-row-3, .board-row-6 {
    border-top: 2.5px solid var(--boardColor) !important;
}

.board-row-8{
    border-bottom: 5px solid var(--boardColor) !important;
}

.board-row-2, .board-row-5 {
    border-bottom: 2.5px solid var(--boardColor) !important;
}

.board-column-0 {
    border-left: 5px solid var(--boardColor) !important;
}

.board-column-3, .board-column-6 {
    border-left: 2.5px solid var(--boardColor) !important;
}

.board-column-8 {
    border-right: 5px solid var(--boardColor) !important;
}

.board-column-2, .board-column-5 {
    border-right: 2.5px solid var(--boardColor) !important;
}

.square {
    color: var(--squareColor);
    background-color: var(--squareBackgroundColor);
    border: .75px solid var(--boardColor);
    padding: 0;
    vertical-align: top;
    height: 60px;
    width: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    outline: none;
    transition: background-color .3s;
}

#selected {
    background-color: var(--selectedColor) !important;
    transition: .3s;
}

.initial {
    color: var(--initialSquareColor) !important;
}