.board {
    width: 100%;
    display: inline-block;
}

.board6x6-row-0, .board9x9-row-0 {
    border-top: 5px solid var(--boardColor) !important;
}

.board6x6-row-2, .board6x6-row-4, .board9x9-row-3, .board9x9-row-6 {
    border-top: 2.5px solid var(--boardColor) !important;
}

.board6x6-row-5, .board9x9-row-8{
    border-bottom: 5px solid var(--boardColor) !important;
}

.board6x6-row-1, .board6x6-row-3, .board9x9-row-2, .board9x9-row-5 {
    border-bottom: 2.5px solid var(--boardColor) !important;
}

.board6x6-column-0, .board9x9-column-0 {
    border-left: 5px solid var(--boardColor) !important;
}

.board6x6-column-3, .board9x9-column-3, .board9x9-column-6 {
    border-left: 2.5px solid var(--boardColor) !important;
}

.board6x6-column-2, .board9x9-column-2, .board9x9-column-5 {
    border-right: 2.5px solid var(--boardColor) !important;
}

.board6x6-column-5, .board9x9-column-8 {
    border-right: 5px solid var(--boardColor) !important;
}

.square {
    color: var(--squareColor);
    background-color: var(--squareBackgroundColor);
    border: .75px solid var(--boardColor);
    padding: 0;
    vertical-align: top;
    height: 60px;
    width: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    outline: none;
    transition: color .3s;
    transition: background-color .3s;
}

#selected {
    background-color: var(--selectedSquareColor) !important;
    transition: .3s;
}

.initial {
    color: var(--initialSquareColor);
}

.blackout:not(:hover) {
    color: transparent;
    transition: color .3s;
}

.initial + .blackout:not(:hover) {
    color: transparent;
    transition: color .3s;
}