.board {
    /* background-color: blue; */
    width: 100%;
    display: inline-block;
}

#board-page-center-content {
    /* background-color: yellow; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.board6x6-row-0, .board9x9-row-0 {
    border-top: 5px solid var(--boardColor) !important;
}

.board6x6-row-2, .board6x6-row-4, .board9x9-row-3, .board9x9-row-6 {
    border-top: 2.5px solid var(--boardColor) !important;
}

.board6x6-row-5, .board9x9-row-8{
    border-bottom: 5px solid var(--boardColor) !important;
}

.board6x6-row-1, .board6x6-row-3, .board9x9-row-2, .board9x9-row-5 {
    border-bottom: 2.5px solid var(--boardColor) !important;
}

.board6x6-column-0, .board9x9-column-0 {
    border-left: 5px solid var(--boardColor) !important;
}

.board6x6-column-3, .board9x9-column-3, .board9x9-column-6 {
    border-left: 2.5px solid var(--boardColor) !important;
}

.board6x6-column-2, .board9x9-column-2, .board9x9-column-5 {
    border-right: 2.5px solid var(--boardColor) !important;
}

.board6x6-column-5, .board9x9-column-8 {
    border-right: 5px solid var(--boardColor) !important;
}

.square {
    color: var(--squareColor);
    background-color: var(--squareBackgroundColor);
    border: .75px solid var(--boardColor);
    padding: 0;
    vertical-align: top;
    width: calc(100vh * .073);
    height: calc(100vh * .073);
    max-width: 60px;
    max-height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    outline: none;
    transition: background-color .3s;
}

#selected {
    background-color: var(--selectedSquareColor) !important;
    transition: .3s;
}

.initial {
    color: var(--initialSquareColor);
}

.blackout {
    transition: color .1s;
}

.blackout:not(:hover) {
    color: transparent;
    transition: color .1s;
}

.initial + .blackout:not(:hover) {
    color: transparent;
    transition: color .1s;
}

.dolphin {
    color: transparent;
}

@media (max-width: 485px) {
    .square {
        width: 47px;
        height: 47px;
    }
}

@media (max-width: 425px) {
    .square {
        width: 41.5px;
        height: 41.5px;
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .square {
        width: 34px;
        height: 34px;
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .square {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }
}