#board-page-navbar {
    background-color: var(--backgroundColor);
    position: relative;
    width: 100%;
    height: 62.5px;
    display: table;
    transition: background-color .3s;
    filter: var(--blurValue);
    transition: filter .15s;
}

#nav-left {
    display: table-cell;
    text-align: left;
}

#logo-button-wrapper {
    background-color: transparent;
    position: relative;
    border: 0;
    margin-left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#logo-accent {
    color: var(--navbarAccentColor);
}

#logo {
    color: var(--navbarColor);
    width: max-content;
    text-align: left;
    font-family: "Roboto Mono";
    font-size: 36px;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
}

#nav-right {
    width: 25%;
    text-align: right;
    padding-right: 2.5%;
    display: table-cell;
    vertical-align: middle;
}

#settings-btn {
    margin-left: 5px;
    margin-right: 0;
}

.nav-btn:hover {
    color: var(--navbarAccentColor);
    transition: .3s;
}

.nav-btn {
    color: var(--navbarColor);
    background-color: transparent;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    border: 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .3s;
}