#board-page-navbar {
    position: absolute;
    width: 100%;
    height: 75px;
    display: table;
}

#logo-accent {
    color: var(--navbarAccentColor);
}

#logo {
    color: var(--navbarColor);
    width: max-content;
    text-align: left;
    padding-left: 2.5%;
    font-family: "Roboto Mono";
    font-size: 36px;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
}

#board-page-nav-btn-bar {
    width: max-content;
    text-align: right;
    padding-right: 2.5%;
    display: table-cell;
    vertical-align: middle;
}

#login-btn {
    margin-left: 5px;
}

.board-page-nav-btn:hover {
    color: var(--navbarAccentColor);
    transition: .3s;
}

.board-page-nav-btn {
    color: var(--navbarColor);
    background-color: var(--backgroundColor);
    width: 36px;
    height: 36px;
    margin: 0 5px;
    border: 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .3s;
}