.num-btn-bar {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 12.5px;
    display: inline-block;
}

.num-btn-bar-btn-grp {
    width: 90%;
    max-width: max-content;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#erase-btn {
    padding: 8px 10.8px;
}

.num-btn-bar-btn {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    margin: 0 4px;
    padding: 8px 14px;
    font-family: "Roboto Mono";
    font-size: 1em;
    gap: .25em;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .3s;
}

.num-btn-bar-btn:hover {
    color: var(--buttonBackgroundColor);
    background-color: var(--buttonColor);
    transition: .3s;
}

@media (max-width: 510px) {
    .num-btn-bar-btn {
        margin: 0 3px;
        padding: 8px 12px;
    }
}

@media (max-width: 450px) {
    .num-btn-bar-btn {
        margin: 0 2.25px;
        padding: 8px 12px;
    }
}

@media (max-width: 425px) {
    .num-btn-bar-btn {
        scale: .8;
        margin: 0;
        padding: 8px 11px;
    }
}

@media (max-width: 375px) {
    .num-btn-bar-btn {
        scale: .7;
        padding: 8px 10px;
    }

    #erase-btn {
        font-size: 14px;
        padding: 8px 10px;
    }
}

@media (max-width: 325px) {
    .num-btn-bar-btn {
        scale: .7;
        padding: 6px 8px;
    }

    #erase-btn {
        font-size: 12px;
        padding: 8px 10px;
    }
}