/*
backgroundColor - background color
boardColor - main
squareColor - sub
squareTextColor - text
buttonColor - sub alt
buttonTextColor - text
selectedColor - error
*/

:root {
    --backgroundColor: #c6b294;
    --boardColor: #405a52;
    --squareColor: #8a785b;
    --squareTextColor: #64374d;
    --buttonColor: #b4a389;
    --buttonTextColor: #091914;
    --selectedColor: #64374db9;
    --initialSquareColor: #2e403b;

    --screenHeight: 100vh;
}

body {
    background-color: var(--backgroundColor);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    text-align: center;
}

.section {
    background-color: var(--backgroundColor);
    width: 100%;
    height: var(--screenHeight);
    text-align: center;
    scroll-snap-align: center;
    display: inline-block;
}

#board-content, #welcome-content, #settings-content {
    color: black;
    border: 4px solid salmon;
    font-family: "Roboto Mono";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* navbar styling */
.navbar {
    overflow: hidden;
    height: 38.195px;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Roboto Mono";
    display: inline-block;
}

.nav-btn-grp {
    /* display: flex;
    justify-content: center; */
    overflow: visible;
    background-color: var(--buttonColor);
    max-width: 42.5%;
    min-width: 42.5%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
}

.nav-btn:hover {
    color: var(--buttonTextColor);
    transition: .3s;
}

.spacer {
    background-color: var(--backgroundColor);
    border-left: 2px solid var(--backgroundColor);
    border-right: 2px solid var(--backgroundColor);
    border-radius: 2px;
    margin: 8px 4px;
    width: 1px;
    height: 22.195px;
}

#note-btn-on, #note-btn-off {
    padding-left: 18px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#clear-btn {
    padding-right: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#note-btn-on, #time-btn-on, #zen-btn-on, #difficulty-btn {
    color: var(--boardColor);
    transition: .3s;
}

.nav-btn {
    color: var(--squareTextColor);
    background-color: var(--buttonColor);
    border: none;
    padding: 0 6px;
    margin: auto 0;
    height: 38.195px;
    font-family: "Roboto Mono";
    cursor: pointer;
    transition: .3s;
}

/* board outline */
.board-row-0 {
    border-top: 5px solid var(--boardColor) !important;
}

.board-row-3, .board-row-6 {
    border-top: 2.5px solid var(--boardColor) !important;
}

.board-row-8{
    border-bottom: 5px solid var(--boardColor) !important;
}

.board-row-2, .board-row-5 {
    border-bottom: 2.5px solid var(--boardColor) !important;
}

.board-column-0 {
    border-left: 5px solid var(--boardColor) !important;
}

.board-column-3, .board-column-6 {
    border-left: 2.5px solid var(--boardColor) !important;
}

.board-column-8 {
    border-right: 5px solid var(--boardColor) !important;
}

.board-column-2, .board-column-5 {
    border-right: 2.5px solid var(--boardColor) !important;
}

.board {
    width: 100%;
    display: inline-block;
}

/* square styling */

#selected {
    background-color: var(--selectedColor) !important;
    transition: .3s;
}

.initial {
    color: var(--initialSquareColor) !important;
}

.square {
    color: var(--squareTextColor);
    background-color: var(--squareColor);
    border: .75px solid var(--boardColor);
    padding: 0;
    vertical-align: top;
    height: 60px;
    width: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    outline: none;
    transition: .3s;
}

/* number button styling */
.num-bar {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 12.5px;
    display: inline-block;
}

.num-btn-grp {
    width: 100%;
    display: flex;
    justify-content: center;
}

#erase-btn {
    padding: 8px 10.8px;
}

.num-btn {
    color: var(--buttonTextColor);
    background-color: var(--buttonColor);
    margin: 0px 4px;
    padding: 8px 14px;
    font-family: "Roboto Mono";
    font-size: 1em;
    gap: .25em;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .3s;
}

.num-btn:hover {
    color: var(--buttonColor);
    background-color: var(--buttonTextColor);
    transition: .3s;
}