/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*
backgroundColor
boardColor
squareColor (text)
initialSquareColor (text)
squareBackgroundColor
buttonColor (text)
buttonBackgroundColor
navbarAccentColor
topButtonBarAccentColor

welcomeAccentColor
*/

:root {
  --backgroundColor: #758173;
  --boardColor: #344634;
  --squareColor: #064507;
  --initialSquareColor: #c0c6c1;
  --squareBackgroundColor: #626c60;
  --selectedSquareColor: #a5a5a575;
  --buttonColor: #498349;
  --buttonBackgroundColor: #a9c5a0;
  --navbarColor: #344634;
  --navbarAccentColor: #a9c5a0;
  --topButtonBarSelectedColor: #035600;
  --topButtonBarHoverColor: #eff8f0;

  --welcomeColor1: #c0c6c1;
  --welcomeColor2: #344634;
  --welcomeColor3: #a9c5a0;

  --settingsNavColor: #344634;
  --settingsNavBackgroundColor: #a9c5a0;
  --settingsAffixColor1: var(--welcomeColor3);
  --settingsAffixColor2: var(--welcomeColor2);
}

#root {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100vh;
  text-align: center;
}

body {
  background-color: var(--backgroundColor);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

.section {
  background-color: var(--backgroundColor);
  width: 100%;
  height: 100vh;
  text-align: center;
  scroll-snap-align: center;
  display: inline-block;
  transition: background-color .3s;
}


