body {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    background-color: white;
    border: .85px solid black;
    padding: 0;
    vertical-align: top;
    height: 50px;
    width: 50px;
    font-size: 24px;
    text-align: center;
}

.sub {
    margin-top: 10px;
    margin-right: 5px;
}