:root {
  --backgroundColor: #758173;
  --boardColor: #344634;
  --squareColor: #064507;
  --initialSquareColor: #c0c6c1;
  --squareBackgroundColor: #626c60;
  --selectedSquareColor: #a5a5a575;
  --buttonColor: #498349;
  --buttonBackgroundColor: #a9c5a0;
  --navbarColor: #344634;
  --navbarBackgroundColor: var(--backgroundColor);
  --navbarAccentColor: #a9c5a0;
  --topButtonBarSelectedColor: #035600;
  --topButtonBarHoverColor: #eff8f0;

  --welcomeColor1: #c0c6c1;
  --welcomeColor2: #344634;
  --welcomeColor3: #a9c5a0;

  --settingsNavColor: #344634;
  --settingsNavBackgroundColor: #a9c5a0;
  --settingsAffixColor1: var(--welcomeColor3);
  --settingsAffixColor2: var(--welcomeColor2);

  --formColor: #ccd3ca;
  --formBackgroundColor: #001a00;
  --formSubmitColor: var(--formColor);
  --formSubmitBackgroundColor: #508e53;
  --formSubmitBackgroundHoverColor: #437947;

  --bottomBarBackgroundColor: var(--backgroundColor);
  --settingsDropdownMarginBottom: 0;
  --settingsAffixSwitchWidth: 38px;
  --blurValue: blur(0px);
}

#root {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100vh;
  text-align: center;
}

body {
  background-color: var(--backgroundColor);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: background-color .3s;
  /* changing scale for buy me a coffee cover photo screenshots */
  /* scale: .36;  */
}

.App {
  position: relative;
}

.section {
  background-color: var(--backgroundColor);
  width: 100%;
  height: calc(100vh - 125px);
  text-align: center;
  display: inline-block;
  transition: background-color .3s;
  filter: var(--blurValue);
  transition: filter .15s;
}


