body {
    background-color: #464d66;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    background-color: white;
    border: .85px solid black;
    padding: 0;
    vertical-align: top;
    height: 50px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
}

.board-row-0, .board-row-3, .board-row-6 {
    border-top: 3px solid;
}

.board-row-8 {
    border-bottom: 3px solid;
}

#s0, #s9, #s18, #s27, #s36, #s45, #s54, #s63, #s72, #s3, #s12, #s21, #s30, #s39,
#s48, #s57, #s66, #s75, #s6, #s15, #s24, #s33, #s42, #s51, #s60, #s69, #s78 {
    border-left: 3px solid;
}

#s8, #s17, #s26, #s35, #s44, #s53, #s62, #s71, #s80 {
    border-right: 3px solid;
}

.btnBar {
    position: relative;
    left: 10.5%;
}

.btn {
    margin-top: 10px;
    margin-right: 5px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #e0513e;
    border: 0;
    border-radius: 16px;
}