/*
backgroundColor - background color
boardColor - main
squareColor - caret
squareTextColor - sub
buttonColor - sub alt
buttonTextColor - text
selectedColor - sub but transparent
initialSquareColor - darker main
*/

:root {
    --backgroundColor: #9c9c9e;
    --boardColor: #5d5e6f;
    --squareColor: #4c4b58;
    --squareTextColor: #cbad7f;
    --buttonColor: #848484;
    --buttonTextColor: #262636;
    --selectedColor: #e1992f3d;
    --initialSquareColor: #c7c6c6;
}

#root {
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
    text-align: center;
}

body {
    background-color: var(--backgroundColor);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.section {
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100vh;
    text-align: center;
    scroll-snap-align: center;
    display: inline-block;
    transition: background-color .3s;
}

#board-page-content {
    color: black;
    font-family: "Roboto Mono";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

