/*
backgroundColor - background color
boardColor - main
squareColor - sub
squareTextColor - text
buttonColor - sub alt
buttonTextColor - text
selectedColor - error
*/

:root {
    --backgroundColor: #c6b294;
    --boardColor: #405a52;
    --squareColor: #8a785b;
    --squareTextColor: #64374d;
    --buttonColor: #b4a389;
    --buttonTextColor: #091914;
    --selectedColor: #64374db9;
    --initialSquareColor: #2e403b;
}

#root {
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
    text-align: center;
}

body {
    background-color: var(--backgroundColor);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.section {
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100vh;
    text-align: center;
    scroll-snap-align: center;
    display: inline-block;
}