/*
backgroundColor - background color
boardColor - main
squareColor - caret
squareTextColor - sub
buttonColor - sub alt
buttonTextColor - text
selectedColor - sub but transparent
initialSquareColor - darker main
*/

:root {
    --backgroundColor: #28524a;
    --boardColor: #edd2fb;
    --squareColor: #519085;
    --squareTextColor: #ffffff;
    --buttonColor: #3d7b6f;
    --buttonTextColor: #90c6cb;
    --selectedColor: #f8a2ff87;
    --initialSquareColor: #2f3437;
}

#root {
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
    text-align: center;
}

body {
    background-color: var(--backgroundColor);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.section {
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100vh;
    text-align: center;
    scroll-snap-align: center;
    display: inline-block;
    transition: background-color .3s;
}

#board-page-content {
    color: black;
    font-family: "Roboto Mono";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

