#affix-set {
    position: relative;
    text-align: left;
    margin-top: 22px;
    margin-left: 2%;
}

.affix-wrapper {
    width: 100%;
    display: inline-block;
}

.affix-subheader {
    color: var(--settingsAffixColor1);
    width: max-content;
    font-size: 18px;
}

.affix-p {
    color: var(--settingsAffixColor2);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: var(--settingsAffixSwitchWidth);
    height: calc(var(--settingsAffixSwitchWidth) * (17 / 30));
    margin-left: 16px;
    vertical-align: middle;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: calc(var(--settingsAffixSwitchWidth) * (13 / 30));
    width: calc(var(--settingsAffixSwitchWidth) * (13 / 30));
    left: calc(var(--settingsAffixSwitchWidth) * (1 / 15));
    bottom: calc(var(--settingsAffixSwitchWidth) * (1 / 15));
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--settingsAffixColor2);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(calc(var(--settingsAffixSwitchWidth) * (13 / 30)));
    -ms-transform: translateX(calc(var(--settingsAffixSwitchWidth) * (13 / 30)));
    transform: translateX(calc(var(--settingsAffixSwitchWidth) * (13 / 30)));
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }