#settings-page {
    background-color: var(--backgroundColor);
    min-height: calc(100vh - 125px);
    height: max-content;
    transition: background-color .3s;
}

#settings-content {
    display: inline-block;
    font-family: "Roboto Mono";
    margin: 1.5% 6% 3.75% 3.75%;
    border-radius: 22px;
    width: 90.25%;
    height: max-content;
}

.dd-wrapper {
    position: relative;
    text-align: left;
    margin-bottom: var(--settingsDropdownMarginBottom);
}

#theme-dd-wrapper {
    margin-top: 20px;
}

.settings-dd {
    color: var(--welcomeColor1);
    background-color: transparent;
    border: 0;
    margin-left: 2%;
    padding: 0;
    font-family: "Roboto Mono";
    font-size: 32px;
    cursor: pointer;
}